{% extends 'base.html.twig' %}

{% block title %}{% trans %} products {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} products {% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %} name {% endtrans %}</th>
                <th>{% trans %} quantity {% endtrans %}</th>
                <th>{% trans %} price {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price|number_format(2, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('add_to_cart', {'id': product.id}) }}">{% trans %} add_to_cart {% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
